C:\Users\happy\source\repos\bookshop\Debug
/.vs/bookshop/v16
/Debug
/bookshop.sln
/bookshop.vcxproj
/bookshop.vcxproj.filters
/Release/bookshop.tlog/bookshop.lastbuildstate
/Release/bookshop.tlog/CL.command.1.tlog
/Release/bookshop.tlog
/Release
/x64/Release/bookshop.tlog
/x64/Release
